<%= form_with(model: messaage, local: true) do |form| %>
  <% if messaage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(messaage.errors.count, "error") %> prohibited this messaage from being saved:</h2>

      <ul>
      <% messaage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
